.wrapper {
	// Select episode screen
	.season {
		display: flex;
		flex-direction: column;
		padding: 0.7rem 3rem;

		.videos {
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;

			.episodeContainer {
				display: inline-flex;
				margin-right: 0.25rem;
				justify-content: center;

				.contents {
					position: relative;
					display: flex;
					flex-direction: column;
					width: 15.5rem;

					img {
						width: 15rem;
						height: 9rem;
						object-fit: cover;
					}
				}
				.videoInfo {
					max-height: 12.5rem;
					overflow-y: auto;
					h4,
					span {
						width: 100%;
						white-space: normal;
						color: #fff;
					}
				}
			}
		}
	}
	.noScroll {
		.entities {
			white-space: normal;
		}
	}

	// watch episode screen
	.watchContainer {
		.videoControls {
			position: absolute;
			display: flex;
			width: 100%;
			align-items: center;
			z-index: 1;

			background-color: rgba(0, 0, 0, 0.3);

			button {
				padding: 3rem;
				font-size: 3rem;
				border: none;
				cursor: pointer;

				background-color: transparent;
				i {
					color: #fff;
				}
				i:hover {
					color: #cbcbcb;
				}
			}
			h1 {
				color: #fff;
			}
		}
		video {
			width: 100%;
		}
	}
	// episode not found screen
	.errorBanner {
		position: absolute;
		width: 100%;
		top: 20%;

		text-align: center;
		font-size: 1.5rem;
		color: #fff;
	}
}
