.season {
	display: flex;
	flex-direction: column;
	padding: 0.7rem 3rem;

	.videos {
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		.episodeContainer {
			display: inline-flex;
			margin-right: 0.25rem;
			justify-content: center;

			.contents {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 15.5rem;

				img {
					width: 15rem;
					height: 9rem;
					object-fit: cover;
				}
			}
			i {
				position: absolute;
				top: 0.3rem;
				left: 0.3rem;
				font-size: 1.4rem;
				opacity: 0.9;
				color: #2ecc71;
			}
			.videoInfo {
				max-height: 12.5rem;
				overflow-y: auto;
				h4,
				span {
					width: 100%;
					white-space: normal;
				}
			}
		}
	}
}
.noScroll {
	.entities {
		white-space: normal;
	}
}
