// homepage styles
.wrapper {
	min-width: 50rem;
	min-height: 100%;
	background-color: #141414;

	.previewContainer {
		position: relative;
		display: flex;

		.previewImage,
		.previewVideo {
			width: 100%;
		}

		.previewOverlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);

			.mainDetails {
				position: relative;
				display: flex;
				top: 30%;
				margin-left: 4rem;
				flex-direction: column;

				h3 {
					margin: 0.9rem 0;
					font-size: 2.5rem;
				}

				h4 {
					margin: 0.7rem 0;
					font-size: 1.1rem;
				}

				button {
					height: 2.8rem;
					max-height: 3.1rem;
					min-width: 9.5rem;
					margin: 0.6rem 0.3rem 1rem 0;
					padding: 0 2.4rem;

					font-size: 1.1rem;
					border: none;
					border-radius: 2px;
					background-color: rgba(51, 51, 51, 0.6);

					i {
						color: inherit;
						padding-right: 0.5rem;
					}
				}

				button:hover {
					background-color: #e6e6e6;
					color: #000;
					cursor: pointer;
				}
			}
		}
	}

	// Searchbar
	.textboxContainer {
		padding: 5.5rem 2.5rem;
		.searchInput {
			height: 3rem;
			width: 37rem;
			padding: 0.3rem 0.6rem;

			border: 1px solid #dedede;
			border-radius: 0.2rem;
			background-color: transparent;
		}
		.searchInput:focus {
			outline: none;
		}
	}
}
