@use 'loginAndRegister.scss';
@use 'navbar.scss';
@use 'homepage.scss';
@use 'entity.scss';
@use 'watch.scss';
@use 'previewCategories.scss';
@use 'userProfile.scss';

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #f4f4f4;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
