.signInContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("../images/bgImage.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.signInContainer .column {
  min-height: 20rem;
  max-height: 100%;
  width: 28.125rem;
  padding: 1.5rem 2rem;
  overflow-y: auto;
  background-color: #292929;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.signInContainer .column .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0;
}
.signInContainer .column .header img {
  width: 15rem;
}
.signInContainer .column .header h3 {
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}
.signInContainer .column .header span {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}
.signInContainer .column form {
  display: flex;
  flex-direction: column;
}
.signInContainer .column form span {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}
.signInContainer .column form input {
  height: 2rem;
  margin: 0.625rem;
  font-size: 0.875rem;
  border: none;
  border-bottom: 0.5px solid rgba(139, 139, 139, 0.3843137255);
  background-color: #292929;
}
.signInContainer .column form input[type=submit] {
  height: 2.5rem;
  width: 7rem;
  margin: 2rem auto;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: rgba(229, 2, 13, 0.7215686275);
}
.signInContainer .column form input[type=submit]:hover {
  background-color: rgba(229, 2, 13, 0.8);
}
.signInContainer .column form input:focus {
  outline: none;
}
.signInContainer .column div {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
.signInContainer .column div a {
  text-decoration: underline;
}

.wrapper {
  min-width: 50rem;
  min-height: 100%;
  background-color: #141414;
}
.wrapper .previewContainer {
  position: relative;
  display: flex;
}
.wrapper .previewContainer .previewImage,
.wrapper .previewContainer .previewVideo {
  width: 100%;
}
.wrapper .previewContainer .previewOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .previewContainer .previewOverlay .mainDetails {
  position: relative;
  display: flex;
  top: 35%;
  margin-left: 3rem;
  flex-direction: column;
}
.wrapper .previewContainer .previewOverlay .mainDetails h3 {
  margin: 0.9rem 0;
  font-size: 2.5rem;
  color: #fff;
}
.wrapper .previewContainer .previewOverlay .mainDetails button {
  height: 2.8rem;
  max-height: 3.1rem;
  min-width: 9.5rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
  padding: 0 2.4rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 2px;
  background-color: rgba(51, 51, 51, 0.6);
  color: #fff;
}
.wrapper .previewContainer .previewOverlay .mainDetails button i {
  color: inherit;
}
.wrapper .previewContainer .previewOverlay .mainDetails button:hover {
  background-color: #e6e6e6;
  color: #000;
  cursor: pointer;
}
.wrapper .previewCategories {
  padding: 0 2rem;
}
.wrapper .previewCategories .entities {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.wrapper .previewCategories .category {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0;
}
.wrapper .previewCategories .category h3 {
  color: #e5e5e5;
}
.wrapper .previewCategories .category a {
  text-decoration: none;
}
.wrapper .previewCategories .category a h3:hover {
  color: #fff;
}
.wrapper .previewCategories .category .previewContainer.small {
  display: inline-flex;
  width: 14rem;
  height: 8rem;
  margin-right: 0.25rem;
}
.wrapper .previewCategories .category .previewContainer.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .season {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 3rem;
}
.wrapper .season .videos {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.wrapper .season .videos .episodeContainer {
  display: inline-flex;
  margin-right: 0.25rem;
  justify-content: center;
}
.wrapper .season .videos .episodeContainer .contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 15.5rem;
}
.wrapper .season .videos .episodeContainer .contents img {
  width: 15rem;
  height: 9rem;
  object-fit: cover;
}
.wrapper .season .videos .episodeContainer .videoInfo {
  max-height: 12.5rem;
  overflow-y: auto;
}
.wrapper .season .videos .episodeContainer .videoInfo h4,
.wrapper .season .videos .episodeContainer .videoInfo span {
  width: 100%;
  white-space: normal;
  color: #fff;
}
.wrapper .noScroll .entities {
  white-space: normal;
}
.wrapper .watchContainer .videoControls {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.wrapper .watchContainer .videoControls button {
  padding: 3rem;
  font-size: 3rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.wrapper .watchContainer .videoControls button i {
  color: #fff;
}
.wrapper .watchContainer .videoControls button i:hover {
  color: #cbcbcb;
}
.wrapper .watchContainer .videoControls h1 {
  color: #fff;
}
.wrapper .watchContainer video {
  width: 100%;
}
.wrapper .errorBanner {
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #cbcbcb;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
